<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42474083733-gbenmipjfpil23ses2q80um3c6n1hgag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42474083733-gbenmipjfpil23ses2q80um3c6n1hgag</string>
	<key>API_KEY</key>
	<string>AIzaSyA3BImuY2AN-svO1EB_lKAta9X2blw9Xas</string>
	<key>GCM_SENDER_ID</key>
	<string>42474083733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threebabies.threebabies</string>
	<key>PROJECT_ID</key>
	<string>threebabies-d5e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>threebabies-d5e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42474083733:ios:4322d4f1c155053462d29c</string>
</dict>
</plist>